:root { 
--gray_600:#828282; 
--black_900_4c:#0000004c; 
--orange_A200:#f2994a; 
--blue_A400:#2f80ed; 
--orange_A200_33:#f2994a33; 
--green_600:#27ae60; 
--gray_300:#e0e0e0; 
--green_500:#3eb957; 
--gray_50:#f9f9fe; 
--blue_A400_33:#2f80ed33; 
--gray_100:#f2f2f2; 
--black_900_33:#00000033; 
--green_800_7f:#258a397f; 
--black_900:#000000; 
--purple_400_33:#9b51e033; 
--green_600_33:#27ae6033; 
--blue_gray_900_01:#343434; 
--blue_gray_900:#333333; 
--white_A700:#ffffff; 
}